body.show-back-top .site-back-top {
    opacity: 1;
}
.site-back-top {
    font-size: 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    line-height: 1.1;
    color: #e4b523;
    opacity: 0;
    -webkit-transition: opacity 275ms ease-in-out;
    -moz-transition: opacity 275ms ease-in-out;
    -ms-transition: opacity 275ms ease-in-out;
    -o-transition: opacity 275ms ease-in-out;
    transition: opacity 275ms ease-in-out;
    cursor: pointer;
}